<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:

ordered list

1, Python

2, R

3, SQL

4, Matlab

Some of the commonly used libraries used by Data Scientists include:

ordered list

1, Numpy

2, Pandas

3, Matplotlib

4, Scikit-learn

Data Science Tools

1, JupyterNotebook

2, VS Code

3, R Studio

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

1, Addition : 3 + 7

2, Subtraction 7-3

3, Multiplication 3*4

4, Division 7/3

In [5]:
#This a simple arithmetic expression to mutiply then add integers.

In [11]:
a = 3

In [12]:
b = 4

In [13]:
c = 5

In [16]:
(a*b)+c

17

In [17]:
#This will convert 200 minutes to hours by diving by 60

In [18]:
minutes = 200

In [19]:
hours = minutes / 60

In [20]:
hours

3.3333333333333335

**Objectives:**

・Learn how to use markdown

・Learn how to use h1 tag and h3 tag

・Learn how to calculate numbers by maltiplation and addition

・List popular languages for Data Science.

<h2>Author</h2>

Shuhei Nakahara